# ignore all temporary python files (pycache, pyc, ipynb_checkpoints)
__pycache__/
*.pyc
.ipynb_checkpoints/

# ignore the local python environment
.venv/

# ignore all large data files (.pkl), all normalization files (.json)
*.pkl
*.json

# ignore all large PMM result and EC result folders
results/*
data/ec_data/*

!results/
